Assignment
Pakistan's import export based on agriculture

In [1]:
import pandas as pd 
import seaborn as sns
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
food=pd.read_csv(r'C:\Users\Haris Bin Tariq\Desktop\python_for_firsttime\pandas\foa.import_export.csv')
food.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,TCL,Crops and livestock products,165,Pakistan,5610,Import Quantity,862,Alfalfa meal and pellets,2015,2015,tonnes,267.0,NaN,Official data
1,TCL,Crops and livestock products,165,Pakistan,5610,Import Quantity,862,Alfalfa meal and pellets,2016,2016,tonnes,76.0,NaN,Official data
2,TCL,Crops and livestock products,165,Pakistan,5610,Import Quantity,862,Alfalfa meal and pellets,2017,2017,tonnes,153.0,NaN,Official data
3,TCL,Crops and livestock products,165,Pakistan,5610,Import Quantity,862,Alfalfa meal and pellets,2018,2018,tonnes,74.0,NaN,Official data
4,TCL,Crops and livestock products,165,Pakistan,5610,Import Quantity,862,Alfalfa meal and pellets,2019,2019,tonnes,11.0,NaN,Official data

In [4]:
food.describe()

,Area Code (FAO),Element Code,Item Code (FAO),Year Code,Year,Value
count,3015.0,3015.000000,3015.000000,3015.000000,3015.000000,3.001000e+03
mean,165.0,5747.469320,544.021891,2017.456716,2017.456716,4.575915e+04
std,0.0,149.508776,345.229237,1.700941,1.700941,2.917279e+05
min,165.0,5607.000000,15.000000,2015.000000,2015.000000,0.000000e+00
25%,165.0,5610.000000,245.500000,2016.000000,2016.000000,1.900000e+01
50%,165.0,5610.000000,514.000000,2017.000000,2017.000000,3.190000e+02
75%,165.0,5910.000000,831.000000,2019.000000,2019.000000,4.291000e+03
max,165.0,5910.000000,1296.000000,2020.000000,2020.000000,4.556024e+06

In [7]:
#dropping few columns and make a new data set
new_food=food.drop(["Flag","Flag Description"],axis=1)
new_food

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value
0,TCL,Crops and livestock products,165,Pakistan,5610,Import Quantity,862,Alfalfa meal and pellets,2015,2015,tonnes,267.0
1,TCL,Crops and livestock products,165,Pakistan,5610,Import Quantity,862,Alfalfa meal and pellets,2016,2016,tonnes,76.0
2,TCL,Crops and livestock products,165,Pakistan,5610,Import Quantity,862,Alfalfa meal and pellets,2017,2017,tonnes,153.0
3,TCL,Crops and livestock products,165,Pakistan,5610,Import Quantity,862,Alfalfa meal and pellets,2018,2018,tonnes,74.0
4,TCL,Crops and livestock products,165,Pakistan,5610,Import Quantity,862,Alfalfa meal and pellets,2019,2019,tonnes,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3010,TCL,Crops and livestock products,165,Pakistan,5610,Import Quantity,892,"Yoghurt, concentrated or not",2019,2019,tonnes,39.0
3011,TCL,Crops and livestock products,165,Pakistan,5610,Import Quantity,892,"Yoghurt, concentrated or not",2020,2020,tonnes,5.0
3012,TCL,Crops and livestock products,165,Pakistan,5910,Export Quantity,892,"Yoghurt, concentrated or not",2015,2015,tonnes,108.0
3013,TCL,Crops and livestock products,165,Pakistan,5910,Export Quantity,892,"Yoghurt, concentrated or not",2016,2016,tonnes,138.0
3014,TCL,Crops and livestock products,165,Pakistan,5910,Export Quantity,892,"Yoghurt, concentrated or not",2019,2019,tonnes,0.0

In [8]:
new_food.mean()

C:\Users\HARISB~1\AppData\Local\Temp/ipykernel_15136/3497113411.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  new_food.mean()

Area Code (FAO)      165.000000
Element Code        5747.469320
Item Code (FAO)      544.021891
Year Code           2017.456716
Year                2017.456716
Value              45759.147951
dtype: float64

In [9]:
new_food.groupby(["Year"]).mean()

      Area Code (FAO)  Element Code  Item Code (FAO)  Year Code         Value
Year
2015            165.0   5746.650888       535.138067     2015.0  39509.884462
2016            165.0   5743.360687       539.841603     2016.0  38358.743243
2017            165.0   5745.588123       548.047893     2017.0  40651.179191
2018            165.0   5747.573441       556.386318     2018.0  51075.462777
2019            165.0   5750.203354       550.595388     2019.0  53957.278826
2020            165.0   5751.965164       534.415984     2020.0  52047.793033

In [11]:
new_food.groupby(["Year","Element"]).mean()

                      Area Code (FAO)  Element Code  Item Code (FAO)  \
Year Element
2015 Export Quantity            165.0   5909.969697       530.640693
     Import Quantity            165.0   5609.960145       538.902174
2016 Export Quantity            165.0   5909.965665       535.317597
     Import Quantity            165.0   5609.962199       543.463918
2017 Export Quantity            165.0   5909.953390       553.512712
     Import Quantity            165.0   5609.958042       543.538462
2018 Export Quantity            165.0   5909.942982       561.912281
     Import Quantity            165.0   5609.951673       551.702602
2019 Export Quantity            165.0   5909.959641       541.098655
     Import Quantity            165.0   5609.944882       558.933071
2020 Export Quantity            165.0   5909.978355       517.930736
     Import Quantity            165.0   5609.937743       549.233463

                      Year Code         Value
Year Element
2015 Export Quantity     2015.0  53522.206140
     Import Quantity     2015.0  27849.996350
2016 Export Quantity     2016.0  52616.061135
     Import Quantity     2016.0  27061.422145
2017 Export Quantity     2017.0  48636.707627
     Import Quantity     2017.0  33991.869258
2018 Export Quantity     2018.0  66160.644737
     Import Quantity     2018.0  38289.509294
2019 Export Quantity     2019.0  67470.206278
     Import Quantity     2019.0  42093.566929
2020 Export Quantity     2020.0  51121.891775
     Import Quantity     2020.0  52880.023346

In [12]:
#Crops and livestock products that remain below 30000 in year 2015~2020
new_food[new_food["Value"]<30000].groupby(["Year","Element"]).mean()

                      Area Code (FAO)  Element Code  Item Code (FAO)  \
Year Element
2015 Export Quantity            165.0   5909.980198       546.915842
     Import Quantity            165.0   5609.955285       548.792683
2016 Export Quantity            165.0   5909.975845       550.198068
     Import Quantity            165.0   5609.957692       557.496154
2017 Export Quantity            165.0   5909.962264       570.528302
     Import Quantity            165.0   5609.964706       549.756863
2018 Export Quantity            165.0   5909.950000       597.615000
     Import Quantity            165.0   5609.967078       555.967078
2019 Export Quantity            165.0   5909.969543       572.385787
     Import Quantity            165.0   5609.951965       563.174672
2020 Export Quantity            165.0   5909.990291       536.936893
     Import Quantity            165.0   5609.943478       559.000000

                      Year Code        Value
Year Element
2015 Export Quantity     2015.0  1825.514851
     Import Quantity     2015.0  2667.300813
2016 Export Quantity     2016.0  2001.869565
     Import Quantity     2016.0  2622.573077
2017 Export Quantity     2017.0  1744.188679
     Import Quantity     2017.0  2827.925490
2018 Export Quantity     2018.0  1878.305000
     Import Quantity     2018.0  2785.465021
2019 Export Quantity     2019.0  2307.487310
     Import Quantity     2019.0  2764.000000
2020 Export Quantity     2020.0  2377.941748
     Import Quantity     2020.0  2722.604348